.slidev-layout.cover.text-center.slidev-page.slidev-page-1 {
    background-image: url("https://github.com/LadyKerr/mealmetrics-copilot/assets/47188731/fbeeed3f-7a00-4b01-90a5-a4ea495a0f1c") !important;
}

.slidev-layout.cover.text-center.slidev-page.slidev-page-8 {
    background-image: url("https://github.com/LadyKerr/mealmetrics-copilot/assets/47188731/c0ff1e77-0a06-4535-819b-dcbf6805845f") !important;
}

.slidev-layout.cover.text-center.slidev-page.slidev-page-9 {
    background-image: url("https://github.com/LadyKerr/mealmetrics-copilot/assets/47188731/02d1e0ce-8df1-483e-be84-4aa29235e4ef") !important;
}

.slidev-layout.cover.text-center.slidev-page.slidev-page-10 {
    background-image: url("https://github.com/LadyKerr/mealmetrics-copilot/assets/47188731/9ac867c8-1ac1-45a7-b2e1-66f20bce4ad0") !important;
}

.slidev-layout.cover.text-center.slidev-page.slidev-page-12 {
    background-image: url("https://github.com/LadyKerr/mealmetrics-copilot/assets/47188731/9ac867c8-1ac1-45a7-b2e1-66f20bce4ad0") !important;
}

/* override global styles that added linear gradient to background images that had the cover tyope layout */